@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    ---branco: white;
    ---azul-base: #0162FB;
    ---azul-original: #131237;
    ---cinza-claro: #808080;
    ---cinza-escuro: #333;
    ---preto: #000000de;
    ---amarelo: #FFA41D;
    ---amarelo-escuro: #f29558;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    background: #fdfdfd;
}

/* HEADER */
header {
    padding: 2.475rem 0;
    background: var(---azul-original);
    color: var(---branco);

}

section {
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
    /* MELHORAR A PRATICA */
}

#container-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
    width: 2.4rem;
    position: relative;
}

.menu-icon span {
    width: 100%;
    height: 0.225rem;
    background: var(---branco);
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
}

.menu-icon p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.menu-items ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    list-style-type: none;
    left: 0;
    top: 0;
    max-width: 18rem;
    width: 70%;
    min-height: 100%;
    background: var(---cinza-escuro);
}

.menu-items li {
    font-size: 1.4rem;
    padding: 1rem;

}

.group-item {
    margin-top: 2rem;
}

.menu-items .item {
    padding: 1rem 0;
    cursor: pointer;
}

.menu-items .item:hover {
    background: var(---cinza-claro);
}

.menu-items a {
    text-decoration: none;
    color: var(---branco);

}



/* Transformação para "X" */
.icon-close span:nth-child(1) {
    transform: rotate(45deg) translate(0.6rem, 0.6rem);
    transform-origin: center;
}

.icon-close span:nth-child(2) {
    opacity: 0;
    /* Oculta a barra do meio */
}

.icon-close span:nth-child(3) {
    transform: rotate(-45deg) translate(0.2rem, -0.3rem);
    transform-origin: center;
}



.account {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: var(---branco);
    padding: 2rem;
    border-top: 1px solid var(---branco);
}

.account img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.menu-items .item {
    display: flex;
    align-items: center;
}

.menu-items .item img {
    width: 2rem;
    margin-left: 1rem;
}

.open {
    display: flex !important;
    z-index: 99;
}

.header-title h1 {
    font-size: 3rem;
    font-family: "DM Serif Display", "serif";
}

.header-account button {
    width: 8rem;
    padding: 0.8rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    background: var(---branco);
    border: none;
    cursor: pointer;
}

/* MAIN */

#main-title .subtitulo {
    font-size: 2rem;
    margin: 2rem 1%;
    color: var(---preto);
    
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 0 1%;
}

.audio-controls button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    padding-left: 0.3rem;
    background: var(---azul-original);
    color: white;

}

.audio-controls #play-button img {
    width: 1.6rem;
    height: 1.6rem;
}

.audio-controls #volume-button {
    height: 3rem;
    cursor: pointer;
}

/* CARDS */
#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

#card {
    margin-top: 3rem;
    width: 30rem;
    min-height: 5rem;
}

#card a {
    text-decoration: none;
    color: var(---preto);
}

.card-imagem {
    display: flex;
    border-radius: 0.6rem;
}

span.line-horizontal {
    display: block;
    min-height: 100%;
    width: 2%;
    background: var(---amarelo);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-imagem img {
    width: 98%;
    height: 16rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.card-text-font {
    color: var(---amarelo);
}

#favoritar {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.card-text-group {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Container do slider e do título */
.slider-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* Ajuste do balão para que se mova horizontalmente */
#news-title {
    position: absolute;
    bottom: 2.5rem;
    
    padding: 5px 10px;
    background-color: var(---amarelo);
    color: var(---azul-original);
    border-radius: 5px;
    font-size: 0.85rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

/* Triângulo na parte de baixo do balãozinho */
#news-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(---amarelo) transparent transparent transparent;
}

.audio-controls input[type='range'] {
    appearance: none;
    background: var(---azul-original);
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
}


.audio-controls input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    box-shadow: 0px 0px 0 10px var(---amarelo);
    border-radius: 1rem;
}


.button-play-container{
    width: 9%;
}
.slider-container{
    width: 76%;
}
.mute-play-container{
    width: 9%;
}

.header-account, .header-title, .menu{
    width: 32%;
}
.header-account{
    display: flex;
    justify-content: flex-start;
}
.header-title{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    justify-content: flex-end;
}


/* footer */

footer {
    margin-top: 4rem;
    text-align: center;
    padding: 1rem 0;
    background: var(---azul-original);
    color: #d9d9d9;
}

@media screen and (max-width: 768px) {

    #container-header{
        align-items: flex-end;
    }
    .header-title,.menu{
        width: auto;
    }
    .header-account{
        display: none;
    }
    .audio-controls{
        gap: 2rem;
    }
    .audio-controls button{
        width: 3.5rem;
        height: 3.5rem;
    }
    .button-play-container,.mute-play-container{
        width: auto;
    }
    #cards{
        width: 96%;
        gap: 2rem;
    }

}